<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pi Control Center</title>
    <script src="/js/jquery.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="sweetalert.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="main.css" media="screen" title="no title" charset="utf-8">
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand all-btn" href="#">Pi Control Center.</a>
            </div>
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Name">
                </div>
                <a href="javascript:void(0)" class="btn btn-primary filter-btn">Filter</a>
                <a href="#" class="btn btn-primary all-btn">Show All</a>
            </form>
        </div>
    </nav>
    <div class="main"></div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/doT.js"></script>
    <script src="/js/sweetalert.min.js"></script>
    <script src="/js/main.js"></script>
</body>
