.pi-body a {
    margin-bottom: 3px;
}
.pi-body {
    padding-bottom: 12px;
}
.pi-panel {
    display: inline-block;
    text-align: left;
    width: 65%;
}
.main {
    text-align: center;
}
.pi-name {
    display: inline-block;
}
.pi-modal {
    width: 70%;
}
.pi-modal .modal-body {
    height: 75%;
    overflow: auto;
}
.pi-td .text {
    font-weight: bold;
}
.pi-td .time {
    font-size: 0.9em;
}
.lbl-stat {
    margin-right: 5px;
}
.label {
    font-weight: bold;
}
.panel-heading {
    white-space: nowrap;
    overflow-x: auto;
}
.pi-name {
    margin-right: 10px;
}
@media only screen and (max-device-width: 1000px) {
    .pi-panel {
        display: inline-block;
        text-align: left;
        width: 90%;
    }

    .pi-modal {
        width: 90%;
    }
    
    .modal-body table {
        min-width: 500px;
    }
}
