{{=(function(){settingsDesc = {
name: ['Name', 'Name of the station. Change with Caution!', 'text'],
camIP: ['Camera IP', 'IP address of the camera.', 'text'],
rtspUser: ['RTSP User', 'Rtsp User (optional)', 'text'],
rtspPassword: ['RTSP Password', 'Rtsp Password (optional)', 'password'],
camPort: ['Camera Port', 'Port of the RTSP stream of the camera.', 'number'],
camPanelAuth: ['Camera Webinterface Authentication', 'Set the username and password for the cam panel if it uses Basic Auth.', 'password'],
camPanelPort: ['Camera Webinterface Port', 'Port of the Webinterface of the camera.', 'number'],
camProfile: ['Streaming Profile', 'Camera profile for streaming.', 'text'],
snapProfile: ['Snapshot Profile', 'Camera profile for snaphots.', 'text'],
key: ['Stream-Key', 'Youtube streaming-keys.', 'text'],
'stream-server': ['RTMP Stream Server URL', 'Custom RTMP Server', 'Qtext'],
master: ['Master-Server URL', 'URL of the master-server. Change with caution!', 'text'],
ffmpegPath: ['FFMPEG Path', 'Path to ffmpeg. Change with caution!', 'text'],
customInputOptions: ['Custon FFMPEG input flags', 'Custom flags for ffmpeg input. <strong>Custom flags must be comma separated!</strong>', 'text'],
customOutputOptions: ['Custon FFMPEG output flags', 'Custom flags for ffmpeg output. <strong>Custom flags must be comma separated!</strong>', 'text'],
customAudioOptions: ['Custon FFMPEG Audio flags', 'Custom flags for ffmpeg audio. <strong>Custom flags must be comma separated!</strong>', 'text'],
customVideoOptions: ['Custon FFMPEG Video flags', 'Custom flags for ffmpeg video. <strong>Custom flags must be comma separated!</strong>', 'text'],
'sshMaster': ['SSH Master', 'The domain or IP of the ssh tunnel server (usually the master server).', 'text'],
'sshUser': ['SSH User', 'SSH user for the master Server.', 'text'],
'sshPort': ['SSH Port', 'SSH port for the master Server.', 'number'],
'sshLocalUser': ['Local SSH User', 'SSH user for the transcoder (Raspberry Pi).', 'text'],
'sshLocalPort': ['Local SSH Port', 'SSH port for the transcoder (Raspberry Pi).', 'number'],
'piSSHEnabled': ['Pi SSH Tunnel', 'Enable or Disable the SSH Tunnel to the pi.', 'checkbox'],
'camSSHEnabled': ['Cam SSH Tunnel', 'Enable or Disable the SSH Tunnel to the camera.', 'checkbox']
}; return ''
  } )()
}}
<!-- TODO: Config Overhaul -->
<div class="modal c-{{=it.pi.id}}">
    <div class="modal-dialog pi-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close cc-{{=it.pi.id}}" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Config</h4></div>
            <div class="modal-body lb-{{=it.pi.id}}">
                <form class="form-horizontal">
                    <fieldset>
                        {{ for(var setting in settingsDesc) { }}
                        <div class="form-group">
                            <label for="input-{{=it.pi.id}}-{{=setting}}" class="col-lg-2 control-label">{{=settingsDesc[setting][0]}}</label>
                            <div class="col-lg-10">
                                <input type="{{=settingsDesc[setting][2]}}" class="form-control" id="input-{{=it.pi.id}}-{{=setting}}" placeholder="{{=settingsDesc[setting][1]}}" value="{{=it.pi.config[setting]}}" {{=(it.pi.config[setting] === true ? 'checked' : '')}}>
                                <span class="help-block">{{=settingsDesc[setting][1]}}</span>
                            </div>
                        </div>
                        {{ } }}
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
              <div class="form-group">
                  <div class="col-lg-10 col-lg-offset-2">
                      <a href="javascript:void(0)" class="btn btn-primary cs-{{=it.pi.id}}">Submit</a>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>
