<div class="modal l-{{=it.pi.id}}">
    <div class="modal-dialog pi-modal">
        <div class="modal-content">
            <div class="modal-header"><button type="button" class="close lc-{{=it.pi.id}}" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Logs</h4></div>
            <div class="modal-body lb-{{=it.pi.id}}">
              <table class="table table-striped table-hover">
                <tbody>
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Message</th>
                        </tr>
                    </thead>
                      {{ for(var log in it.logs) { }}
                        <tr class="{{=it.logs[log].level}}">
                          <td class="pi-td time">
                            {{=(new Date(it.logs[log].timestamp)).toLocaleTimeString() + '<br>' + (new Date(it.logs[log].timestamp)).toLocaleDateString()}}
                          </td>
                          <td class="pi-td text">
                            {{=it.logs[log].message}}
                          </td>
                        </tr>
                      {{ } }}
                  </tbody>
              </table>
            </div>
        </div>
    </div>
</div>
