<div name="{{=it.name}}" class="pi-r row-{{=it.id}}">
    <div class="panel pi-panel panel-primary {{=it.id}}">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a class="pi-name" href="#{{=it.name}}">{{=it.name}}</a>
                <span class="statBar-{{=it.id}}">

                </span>
            </h3>
        </div>
        <div class="panel-body pi-body body-{{=it.id}}">
            <a href="javascript:void(0)" class="btn btn-primary pp-{{=it.id}} live-{{=it.id}}" onclick="command(this.name, 'startStop')" name="{{=it.name}}">Start/Stop</a>
            <a href="javascript:void(0)" class="btn btn-primary re-{{=it.id}} live-{{=it.id}}" onclick="command(this.name, 'restart')" name="{{=it.name}}">Restart</a>
            <a href="javascript:void(0)" class="btn btn-warning log-{{=it.id}}" onclick="command(this.name, 'getLogs')" name="{{=it.name}}">View Logs</a>
            <a href="javascript:void(0)" class="btn btn-warning snapb-{{=it.id}}" onclick="snapper(this.name)" name="{{=it.name}}">Snapshot</a>
            <a href="javascript:void(0)" class="btn btn-warning config-{{=it.id}}" onclick="getConfig(this.name)" name="{{=it.name}}">Configuration</a>
            <a href="javascript:void(0)" class="btn btn-warning" onclick="restartSSH(this.name)" name="{{=it.name}}">Restart SSH Tunnel</a>
            <a href="javascript:void(0)" class="btn btn-warning camSSH-{{=it.id}}" onclick="openCamPanel(this.name)" name="{{=it.name}}">Camera Web-Interface</a>
            <a href="javascript:void(0)" class="btn btn-info" onclick="showSSH(this.name)" name="{{=it.name}}">SSH-Access</a>
        </div>
    </div>
</div>
